*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
}

.pt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js body {
    overflow: auto;
}

.pt-trigger-container {
    position: absolute;
    width: 300px;
    z-index: 999999;
    left: 50%;
    margin-top: 75px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pt-trigger {
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 10px;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    letter-spacing: 1px;
    width: 100%;
    cursor: pointer;
    display: block;
    font-family: Calibri;
    box-shadow: 0 3px 0 rgba(0,0,0,0.3);

}

/* Page Styles */
.pt-page-ontop {
    z-index: 999;
}

.pt-page h1 {
    position: absolute;
    font-weight: 300;
    font-size: 4.4em;
    line-height: 1;
    letter-spacing: 6px;
    margin: 0;
    top: 1%;
    width: 100%;
    text-align: center;
    word-spacing: -0.3em;
}

.pt-page-1 {
    background: #0ac2d2;
}

.pt-page-2 {
    background: #7bb7fa;
}

.pt-page-3 {
    background: #60d7a9;
}

.pt-page-4 {
    background: #fdc162;
}

.pt-page-5 {
    background: #fd6a62;
}

.pt-page-6 {
    background: #f68dbb;
}

/*No Animation Support Message Style*/
.pt-message {
    display: none;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da475c;
    color: #fff;
    text-align: center;
}

.pt-message p {
    margin: 0;
    line-height: 60px;
    font-size: 26px;
}

.no-cssanimations .pt-message {
    display: block;
}